@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  background-color: #27374d;
  font-family: "Ubuntu", sans-serif;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #76cfb7;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5aa89a;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.logo h1 {
  position: absolute;
  margin-left: 260px;
  font-size: 50px;
  z-index: 50;
  background-color: transparent;
  background: #76cfb7;
  background: linear-gradient(to bottom right, #76cfb7 26%, #b759cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo p {
  position: absolute;
  left: 23%;
  top: 6.4%;
  background-color: transparent;
  background: #76cfb7;
  background: linear-gradient(to bottom right, #76cfb7 26%, #b759cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.nav {
  position: fixed;
  left: 87%;
  color: #fff;
  letter-spacing: 2px;
  z-index: 100;
  background-color: transparent;
  text-decoration: none;
}
.nav ul {
  display: grid;
  grid-template-columns: 3;
  gap: 15px;
  list-style: none;
  font-size: 17px;
  transition-duration: 0.1s;
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}
.nav li {
  transition-duration: 0.8s;
  background-color: #27374d;
  padding: 5px;
  box-shadow: 0px 0px 20px -5px black;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.nav a {
  color: #fff;
  text-decoration: none;
  background: #76cfb7;
  background: linear-gradient(to bottom right, #76cfb7 26%, #b759cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.nav li:hover {
  transform: translateX(-10px);
}

.about {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 10%;
  width: 66%;
  height: 35%;
  color: #fff;
  background-color: transparent;
  z-index: 50;
}

.about p {
  position: relative;
  bottom: 38px;
  background-color: #526d822e;
  border-radius: 5px;
  padding: 5px;
  font-size: 27px;
  letter-spacing: 4px;
}
.about h1 {
  background: #76cfb7;
  background: linear-gradient(to right, #76cfb7 0%, #b197cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 60px;
  letter-spacing: 3px;
}
.work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 60px;
  background-color: #235e54;
  position: relative;
  top: 100%;
}

.work-card {
  flex: 0 0 calc (33.33% - 40px);
  margin: 20px;
  padding: 20px;
  max-width: 300px;
  height: 450px;
  max-height: 550px;
  background: #05386b;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10%);
  border-radius: 10px;
  text-align: center;
  color: #ffffff;
  transition-duration: 0.7s;
}

.work-card:hover {
  box-shadow: 10px 10px 30px 7px rgba(0, 0, 0, 0.3),
    -10px -10px 30px 7px rgba(0, 0, 0, 0.25);
}

.work-card img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.work-card h2 {
  position: relative;
  font-size: 1.5em;
  margin: 10px 0;
  text-align: center;
  top: 1%;
  background-color: transparent;
}

.work-card p {
  position: relative;
  top: 2%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 1.1em;
}
.work-card button {
  position: relative;
  background-color: transparent;
  border: none;
  outline: 0;
  border-radius: 20%;
  transition-duration: 0.7s;
  top: 4%;
  left: 45%;
}
.work-card button img {
  padding: 5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
}
.work-card img:hover .work-card button:hover {
  background-color: #dde6ed5a;
  padding: 5px;
}
.work-card a {
  position: relative;
  bottom: 65%;
  background-color: transparent;
}

.work-card a img {
  background-color: transparent;
  width: 20px;
}

.contact {
  position: relative;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: #2c3531;
  color: #fff;
  z-index: 10;
}

.contact h1 {
  background: #76cfb7;
  background: linear-gradient(to right, #76cfb7 0%, #b197cf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  letter-spacing: 3px;
  z-index: 100;
}

.contact form {
  background-color: transparent;
  width: 100%;
  max-width: 600px;
  z-index: 100;
}

.contact label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  background-color: transparent;
  color: #dde6ed;
  z-index: 100;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #dde6ed;
  transition-duration: 0.6s;
  z-index: 100;
}

.contact textarea {
  resize: none;
  overflow-y: auto;
  cursor: pointer;
}

.contact button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #76cfb7;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition-duration: 0.5s;
  z-index: 100;
}

.contact button:hover {
  background-color: #5aa89a;
}

.footer {
  position: relative;
  top: 100%;
  width: 100%;
  height: 10%;
  background-color: black;
  color: #fff;
}
.footer p {
  display: flex;
  position: absolute;
  top: 10px;
  left: 41%;
  text-align: center;
  background-color: transparent;
}
.hamburger {
  position: fixed;
  left: 75%;
  display: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
  background-color: transparent;
}
.close-ham {
  display: none;
  position: fixed;
  right: 0;
  bottom: 92%;
  left: 80%;
  margin: 25px 40px;
  width: 20px;
  z-index: 500;
  background-color: transparent;
}

@media (max-width: 769px) {
  .hamburger {
    display: block;
  }

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1e2124;
    backdrop-filter: blur(50%);
    z-index: 100;
  }

  .nav ul {
    display: none; /* Hide by default for smaller screens */
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
  }

  .nav ul.active {
    display: flex;
  }

  .nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav li {
    position: relative;
    margin-top: 30px;
    background-color: #424549;
    border-radius: 0px;
  }
  .about {
    margin-left: 5%;
    width: 90%;
    height: auto;
  }

  .about p {
    bottom: 0;
    font-size: 18px;
  }

  .about h1 {
    margin-top: 150px;
    font-size: 43px;
  }

  .work {
    padding: 40px;
  }

  .work-card {
    flex-basis: calc(50% - -100px);
  }
  .work-card a img {
    position: relative;
    top: 10%;
  }

  .contact {
    padding: 40px;
  }

  .contact h1 {
    font-size: 30px;
  }

  .contact form {
    max-width: 80%;
    margin-right: 20px;
  }

  .contact label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    background-color: transparent;
    color: #dde6ed;
    z-index: 100;
  }

  .contact input,
  .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #dde6ed;
    transition-duration: 0.6s;
    z-index: 100;
  }

  .contact textarea {
    resize: none;
    overflow-y: auto;
    cursor: pointer;
  }
  .footer {
    position: relative;
    top: auto;
    bottom: 0;
    height: auto;
  }

  .footer p {
    left: 50%;
    transform: translateX(-50%);
  }
  .logo h1 {
    position: absolute;
    top: -4%;
    right: 80%;
  }
  .logo p {
    position: absolute;
    top: 16px;
  }
  .footer {
    position: relative;
    top: 100%;
    width: 100%;
    height: 10%;
    background-color: black;
    color: #fff;
  }
  .footer p {
    display: flex;
    position: absolute;
    top: 10px;
    left: 49%;
    text-align: center;
    background-color: transparent;
  }
}
